* {
	font-size: 'DM Sans', sans-serif;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

/*Colors*/

//Primary

$Soft-red: hsl(10, 79%, 65%);
$Cyan: hsl(186, 34%, 60%);

//Neutral

$Dark-brown: hsl(25, 47%, 15%);
$Medium-brown: hsl(28, 10%, 53%);
$Cream: hsl(27, 66%, 92%);
$Very-pale-orange: hsl(33, 100%, 98%);

/*global*/
.p20 {
	padding: 20px;
}

.ml10 {
	margin: 10px;
}

.mt30 {
	margin-top: 30px;
}

.mb30 {
	margin-bottom: 30px;
}

.display-flex {
	display: flex;

	&-wrap {
		flex-wrap: wrap;
	}

	&-justify-center {
		justify-content: center;
	}

	&-justify-space-between {
		justify-content: space-between;
	}

	&-align-center {
		align-items: center;
	}
}

/*body*/
body {

	
	.attribution { 
		font-size: 11px;
		text-align: center;

		a {
			color: hsl(228, 45%, 44%);
		}
	}
}

